# Ignore all .exe files
*.exe

# Ignore build directories (commonly used in C++)
build/
Debug/
Release/
x64/
x86/

# Ignore other common C++ build artifacts
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
*.out

# IDE specific files
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
